/* 通用样式 */
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    font-weight: regular;
}

/* 首页标题总区域 */
.header {
    background-color: #40407a;
    margin: 0;
    padding: 0 0 1vh 0;
}

/* 首页标题文字 */
.headertext h1 {
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 3vh 0 2vh 0;
}

.headertext p {
    color: #ffffff;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

/* 导航栏区域 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #706fd3;
    border-radius: 1.25rem;
    padding: 2.5vh 7vw;
    margin: 1rem 2vw;
    text-align: center;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: regular;
}

.navbar a:hover {
    color: #e0e0e0;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/* 头部图片区域 */
.headerpic {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: cover;
    object-position: center;
    margin: 0;
    padding: 0;
    display: block;
}

/* 子页面标题总区域 */
.subheader {
    display: grid;
    grid-template-areas:
        "subheadertext subnavbar";
    gap: 1rem;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 1fr;
    background-color: #40407a;
    margin: 0;
    padding: 20px 30px;
}

/* 子页面标题文字 */
.subheadertext h1 {
    color: #ffffff;
    text-align: left;
    align-items: center;
    grid-area: subheadertext;
    font-size: 2rem;
    font-weight: 550;
    margin: 0;
    padding: 0;
}

.subnavbar {
    grid-area: subnavbar;
    justify-content: flex-end;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.subnavbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: regular;
}

.subnavbar a:hover {
    color: #e0e0e0;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.content {
    background-color: #f7f1e3;
    margin: 0;
    padding: 3vh 0;
}

.content h2 {
    font-size: 2rem;
    font-weight: bold;
}

.content p {
    font-size: 1.2rem;
    font-weight: regular;
    line-height: 1.5;
}

.content a {
    text-decoration: none;
    color: #34ace0;
    font-size: 1.2rem;
    font-weight: regular;
    line-height: 1.5;
}

.arrow-right {
    width: 1rem;
    height: 1rem;
}

/* 路线信息区域 */
.routesinfo {
    display: grid;
    height: auto;
    grid-template-areas:
        "r_image r_text";
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    margin: 0 4vw;
    padding: 5vh 0;
}

.routesinfo h2 {
    text-align: left;
    margin: 0 0 2vh 0;
    padding: 0;
}

.r_image {
    grid-area: r_image;
    width: 100%;
    height: auto;
    margin: 0;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.r_text {
    grid-area: r_text;
    margin: 0;
    padding: 0 0 0 3vw;
}

/* 食物指南区域 */
.foodguide {
    display: grid;
    height: auto;
    grid-template-areas:
        "f_text f_image";
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 4vw;
    padding: 5vh 0;
}

.foodguide h2 {
    text-align: right;
    margin: 0 0 2vh 0;
    padding: 0;
}

.foodguide p {
    text-align: right;
    margin: 0 0 2vh 0;
    padding: 0;
}

.foodguide a {
    display: block;
    text-align: right;
    margin: 0 0 2vh 0;
    padding: 0;
}

.f_image {
    grid-area: f_image;
    width: 100%;
    height: auto;
    margin: 0;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.f_text {
    grid-area: f_text;
    margin: 0;
    padding: 0 3vw 0 0;
}

/* 子页面标题区域 */
.overlay_title {
    color: #ffffff;
    position: absolute;
    bottom: 22%;
    right: 4vw;
    transform: translate(0%, 0%);
    font-size: 4rem;
    font-weight: 650;
    text-align: right;
    margin: 0;
    padding: 0;
}

.kl_content {
    background-color: #f7f1e3;
    margin: 0;
    padding: 3vh 0;
}

.kl_content h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 3vh 0;
}

.kl_content h3 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.kl_content p {
    text-align: left;
    font-size: 1.2rem;
    font-weight: regular;
    margin: 0;
    padding: 0;
}

.description {
    display: grid;
    width: 100%;
    max-width: 80vw;
    height: auto;
    grid-template-areas:
        "description_image description_text"
        "description_image description_map";
    gap: 2rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    margin: 0 auto;
    padding: 5vh 0;
}

.description_flip {
    display: grid;
    width: 100%;
    max-width: 80vw;
    height: auto;
    grid-template-areas:
        "description_text_flip description_image"
        "description_map description_image";
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    margin: 0 auto;
    padding: 5vh 0;
}

.description_header {
    grid-area: description_header;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.description_image {
    grid-area: description_image;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.description_image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.description_text {
    grid-area: description_text;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.description_text_flip {
    grid-area: description_text_flip;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.description_text_flip h3,
.description_text_flip p {
    text-align: right;
}

.description_map {
    grid-area: description_map;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    align-self: end;
}

.routemap_container {
    text-align: center;
    /* 让容器内容居中 */
    margin: 0 0;
}

.routemap {
    text-align: center;
    border-radius: 1.25rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* 底部区域 */
.footer {
    background-color: #40407a;
    color: #ffffff;
    text-align: center;
    padding: 2vh 0;
    margin: 0;
}

.footer p {
    font-size: 0.8rem;
    font-weight: thin;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}